{% extends "::base.html.twig" %}

{% block title %}VetDreBundle:AdminController:upddateAnnonce{% endblock %}

{% block body %}
<h1>Welcome to the AdminController:upddateAnnonce page</h1>
{% endblock %}
