{% extends "::LayoutAdmin.html.twig" %}

{% block titre %}ShopBundle:Product:AddProduct{% endblock %}

{% block contenu %}






    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Ajout d'un Produit</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="POST" action="{{ path('_add_product') }}">
            <div class="box-body">

                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" placeholder="nom" required>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
                </div>

                <div class="form-group">
                    <label>Prix</label>
                    <input type="number" class="form-control" name="prix" id="prix" placeholder="prix" required>
                </div>

                <div class="form-group">
                    <label>Quantité</label>
                    <input type="number" class="form-control" name="quantite" id="quantite" placeholder="quantité" required>
                </div>

                <div class="form-group">
                    <label>Type</label>
                    <input type="text" class="form-control" name="type" id="type" placeholder="type" required>
                </div>



                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" name="image" id="image">
                    <table>
                        <tr id="td">

                        </tr>

                    </table>


                    <img height="130" src="" alt="" id="im"/>


                    <p class="help-block">Example block-level help text here.</p>
                </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" name="save" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
<script>
    $('#image').change(function () {

        var i=0;
        var x="{{ asset('Client/upload/') }}";

        var j="";
        var y="";
        while (i<$('#image').val().length)
        {
            i++;

            if(i>11 && i<17)
            {
                y=$('#image').val()[i];

                j=j+y;

            }

        }

        $('#td').empty();
        $('#td').append('<td><img  height="130" src="'+x+j+'" alt=""/> </td>');






    });

</script>







{% endblock %}
